@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background: black url("../imagens/fundo-madeira.jpg") center center no-repeat;
}

#telefone {
    background-image:url("../imagens/frame-iphone.png");
    width: 311px;
    height: 627px;
    margin: auto;
    border-radius: 0;
    position: absolute;
    top: 50vh;
    bottom: 50vh;
    right: 1px;
    left:1px;
}

iframe {
    background: black url("../imagens/tela-home.jpg") no-repeat;
    background-size: cover;
    width: 265px;
    height: 468px;
    position: relative;
    top: 80px;
    bottom: 80px;
    left: 20px;
    right: 20px;
}

section#social {
    text-align: right;
    
}

section#social img {
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
    box-sizing: border-box;
}

section#social img:hover {
    border: 2px solid rgba(255, 255, 255, 0.589);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);
    transition: transform .3s, border 0.8s;
}